In [ ]:
#12_B200294(SureshK) -CSE_C2

In [103]:
import pandas as pd 
data = [10, 20, 30, 40] 
v = pd.Series(data) 
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [104]:
#it coverts the dictionaries to tablualr form
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)
print(df['Name'])

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [105]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.head())
#head return the first 5 rows from a data

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [106]:
#tail() method

In [107]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.tail())
#it returns last 5 rows of dataframe

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [108]:
#info() method gives more information about dataset
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [109]:
#describe() method gives more deatils like mean ,median etc
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [110]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)


#➢ The by parameter specifies the columns to sort by.
#➢ Here, the DataFrame is sorted by Quantity first and then by
#TransactionDate.
#ascending=[True, False]:
#This specifies the sorting order for each column.
#➢ True for Quantity means ascending order.
#➢ False for TransactionDate means descending order.

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [111]:
import pandas as pd
transactions=pd.read_csv('transactions.csv')
# 1. Print Summary of transaction data set
print(transactions.info())
print(transactions.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [112]:
# 2. Print Numbers of Attributes
print(f"Number of attributes: {transactions.shape[1]}")

Number of attributes: 5

In [113]:
# 3. Print Numbers of Records
print(f"Number of records: {transactions.shape[0]}")

Number of records: 10

In [114]:
# 4. Get the row names
print(transactions.index)

RangeIndex(start=0, stop=10, step=1)

In [115]:
# 5. Get the column names
print(transactions.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [116]:
# 6. View top 10 Records
print(transactions.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [117]:
# 7. Change column name 'Quantity' to 'Quant'
transactions.rename(columns={"Quantity": "Quant"}, inplace=True)

In [118]:
# 8. Change column names ProductID to PID and UserID to UID
transactions.rename(columns={"ProductID": "PID", "UserID": "UID"}, inplace=True)

In [119]:
# 9. Order by TransactionId descending
transactions = transactions.sort_values(by="TransactionID", ascending=False)
print(transactions)

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [120]:
# 10. Order by Quantity ascending, TransactionDate descending
transactions = transactions.sort_values(by=["Quant", "TransactionDate"], ascending=[True, False])
print(transactions)

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [121]:
# 11. Reorder columns as ProductID, Quantity, TransactionDate, TransactionID, UserID
transactions = transactions[["PID", "Quant", "TransactionDate", "TransactionID", "UID"]]
print(transactions)

   PID  Quant TransactionDate  TransactionID  UID
6    4      1      2013-12-30              7  3.0
4    4      1      2013-06-06              5  2.0
2    3      1      2011-06-16              3  3.0
1    4      1      2011-05-26              2  3.0
0    2      1      2010-08-21              1  7.0
8    4      3      2015-04-24              9  7.0
7    2      3      2014-04-24              8  NaN
3    2      3      2012-08-26              4  1.0
9    4      4      2016-05-08             10  3.0
5    5      6      2013-12-23              6  2.0

In [122]:
# 12. Make UserID the first column
columns = ["UID"] + [col for col in transactions.columns if col != "UID"]
transactions = transactions[columns]
print(transactions)

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [123]:
# 13. Extract 2nd column as an array
print(transactions.iloc[:, 1].values)

[4 4 3 4 2 4 2 2 4 5]

In [124]:
# 12. Make UserID the first column
transactions = transactions[["UID", "Quant", "TransactionDate", "TransactionID", "PID"]]
transactions = transactions[columns]
print(transactions)

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [125]:
# 14. Get the ProductID Array
print(transactions["PID"].values)

[4 4 3 4 2 4 2 2 4 5]

In [126]:
# 15. Get ProductID array using a variable
print(transactions["PID"].values)

[4 4 3 4 2 4 2 2 4 5]

In [127]:
# 16. Subset rows 1,3,6
print(transactions.iloc[[0, 2, 5]])

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
2  3.0    3      1      2011-06-16              3
8  7.0    4      3      2015-04-24              9

In [128]:
# 17. Subset rows excluding 1,3,6
print(transactions.drop([0, 2, 5]))

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
1  3.0    4      1      2011-05-26              2
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10

In [129]:
# 18. Subset first three rows
print(transactions.head(3))

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3

In [130]:
# 19. Subset last 2 rows
print(transactions.tail(2))

   UID  PID  Quant TransactionDate  TransactionID
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [131]:
# 20. Subset rows excluding last 2 rows
print(transactions.iloc[:-2])

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4

In [132]:
# 21. Subset rows excluding first 3 rows
print(transactions.iloc[3:])

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [133]:
 #22. Subset rows where Quantity > 1
print(transactions[transactions["Quant"] > 1])

   UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [134]:
# 23. Subset rows where UserID = 2
print(transactions[transactions["UID"] == 2])

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [135]:
# 24. Subset rows where Quantity > 1 and UserID = 2
print(transactions[(transactions["Quant"] > 1) & (transactions["UID"] == 2)])

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [136]:
# 25. Subset rows where Quantity + UserID > 3
print(transactions[(transactions["Quant"] + transactions["UID"]) > 3])

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [137]:
# 26-29: External foo, bar arrays for filtering
foo = [True if i % 2 == 0 else False for i in range(len(transactions))]
bar = [i if i % 2 == 0 else -i for i in range(len(transactions))]

transactions = transactions.reset_index(drop=True)

In [138]:
# 26. Subset where foo is True
print(transactions[pd.Series(foo)])

   UID  PID  Quant TransactionDate  TransactionID
0  3.0    4      1      2013-12-30              7
2  3.0    3      1      2011-06-16              3
4  7.0    2      1      2010-08-21              1
6  NaN    2      3      2014-04-24              8
8  3.0    4      4      2016-05-08             10

In [139]:
# 27. Subset where bar is positive
print(transactions[pd.Series(bar) > 0])

   UID  PID  Quant TransactionDate  TransactionID
2  3.0    3      1      2011-06-16              3
4  7.0    2      1      2010-08-21              1
6  NaN    2      3      2014-04-24              8
8  3.0    4      4      2016-05-08             10

In [140]:
# 28. Subset where foo is True or bar is negative
print(transactions[(pd.Series(foo)) | (pd.Series(bar) < 0)])

   UID  PID  Quant TransactionDate  TransactionID
0  3.0    4      1      2013-12-30              7
1  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
3  3.0    4      1      2011-05-26              2
4  7.0    2      1      2010-08-21              1
5  7.0    4      3      2015-04-24              9
6  NaN    2      3      2014-04-24              8
7  1.0    2      3      2012-08-26              4
8  3.0    4      4      2016-05-08             10
9  2.0    5      6      2013-12-23              6

In [141]:
# 29. Subset where foo is not True and bar is not negative
print(transactions[(~pd.Series(foo)) & (~(pd.Series(bar) < 0))])

Empty DataFrame
Columns: [UID, PID, Quant, TransactionDate, TransactionID]
Index: []

In [142]:
# 30. Subset by columns 1 and 3
print(transactions.iloc[:, [0, 2]])

   UID  Quant
0  3.0      1
1  2.0      1
2  3.0      1
3  3.0      1
4  7.0      1
5  7.0      3
6  NaN      3
7  1.0      3
8  3.0      4
9  2.0      6

In [143]:
# 31. Subset by TransactionID and TransactionDate
print(transactions[["TransactionID", "TransactionDate"]])

   TransactionID TransactionDate
0              7      2013-12-30
1              5      2013-06-06
2              3      2011-06-16
3              2      2011-05-26
4              1      2010-08-21
5              9      2015-04-24
6              8      2014-04-24
7              4      2012-08-26
8             10      2016-05-08
9              6      2013-12-23

In [144]:
# 32. Subset by TransactionID and TransactionDate using logical operator
subset_cols = ["TransactionID", "TransactionDate"]
print(transactions[subset_cols])

   TransactionID TransactionDate
0              7      2013-12-30
1              5      2013-06-06
2              3      2011-06-16
3              2      2011-05-26
4              1      2010-08-21
5              9      2015-04-24
6              8      2014-04-24
7              4      2012-08-26
8             10      2016-05-08
9              6      2013-12-23

In [145]:
# 33. Subset columns using variable list
selected_columns = ["UID", "Quant"]
print(transactions[selected_columns])

   UID  Quant
0  3.0      1
1  2.0      1
2  3.0      1
3  3.0      1
4  7.0      1
5  7.0      3
6  NaN      3
7  1.0      3
8  3.0      4
9  2.0      6

In [146]:
# 34. Subset excluding variable list
excluded_columns = ["TransactionID"]
print(transactions.drop(columns=excluded_columns))

   UID  PID  Quant TransactionDate
0  3.0    4      1      2013-12-30
1  2.0    4      1      2013-06-06
2  3.0    3      1      2011-06-16
3  3.0    4      1      2011-05-26
4  7.0    2      1      2010-08-21
5  7.0    4      3      2015-04-24
6  NaN    2      3      2014-04-24
7  1.0    2      3      2012-08-26
8  3.0    4      4      2016-05-08
9  2.0    5      6      2013-12-23

In [147]:
# 35. Inserting and updating values
transactions.loc[0, "Quant"] = 999  # Example update
transactions["NewCol"] = "Sample"  # Inserting new column
print(transactions.head())

   UID  PID  Quant TransactionDate  TransactionID  NewCol
0  3.0    4    999      2013-12-30              7  Sample
1  2.0    4      1      2013-06-06              5  Sample
2  3.0    3      1      2011-06-16              3  Sample
3  3.0    4      1      2011-05-26              2  Sample
4  7.0    2      1      2010-08-21              1  Sample

In [148]:
# 36. Convert TransactionDate column to Date type
transactions["TransactionDate"] = pd.to_datetime(transactions["TransactionDate"])
print(transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UID              9 non-null      float64
 1   PID              10 non-null     int64
 2   Quant            10 non-null     int64
 3   TransactionDate  10 non-null     datetime64[ns]
 4   TransactionID    10 non-null     int64
 5   NewCol           10 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 612.0+ bytes
None

In [149]:
# 37. Insert new column Foo = UserID + ProductID
transactions["Foo"] = transactions["UID"] + transactions["PID"]
print(transactions.head())

   UID  PID  Quant TransactionDate  TransactionID  NewCol  Foo
0  3.0    4    999      2013-12-30              7  Sample  7.0
1  2.0    4      1      2013-06-06              5  Sample  6.0
2  3.0    3      1      2011-06-16              3  Sample  6.0
3  3.0    4      1      2011-05-26              2  Sample  7.0
4  7.0    2      1      2010-08-21              1  Sample  9.0